<div class="login-layout flip-in" [class.flip-out]="isFlipping">

  <main class="login-main flex-column">

    <div class="w-100 my-auto d-flex flex-column align-items-center">
      <div class="text-center mb-4 mt-n2 logo-mobile">
        <img src="assets/img/emenetLogo.webp" alt="Emenet Logo" height="70">
      </div>

      <div class="auth-card shadow-lg p-4 p-sm-5 w-100">
        <!-- HEADER -->
        <div class="payment-header">
          <div class="header-icon"><i class="fa-solid fa-user-plus"></i></div>
          <div class="header-content">
            <h2>¡Crear cuenta!</h2>
          </div>
        </div>

        <form [formGroup]="createForm" (ngSubmit)="register()">

          <!-- Número de cliente -->
          <div class="form-card">
            <div class="card-title">

              <div class="icono-contenedor card-icon blue">
                <i class="fa-regular fa-circle-question"></i>
                <div class="mensaje">¿No conoces tu número de cliente? <br> Lo puedes encontrar en tu ultimo ticket
                  recibido o <br> solicitalo por whatsapp</div>
              </div>

              <h5>Datos de acceso</h5>
            </div>
            <div class="card-grid">
              <div class="field">
                <label>Número de cliente</label>
                <input type="text" formControlName="numero_cliente" class="form-control custom-input"
                  placeholder="######">
                <div *ngIf="numero_cliente.invalid && (numero_cliente.dirty || numero_cliente.touched)"
                  class="mt-2 text-danger small">
                  <span *ngIf="numero_cliente.errors?.['required']">Número de cliente requerido.</span>
                  <span *ngIf="numero_cliente.errors?.['maxlength']">No debe exceder 6 caracteres.</span>
                  <span *ngIf="numero_cliente.errors?.['pattern']">Formato inválido.</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Información adicional -->
          <div class="form-card">
            <div class="card-title">
              <div class="card-icon green"><i class="fa-solid fa-info"></i></div>
              <h5>Información adicional</h5>
            </div>
            <div class="card-grid">
              <div>Accede y gestiona tu cuenta en segundos.</div>
              <ul class="lista">
                <li>Consulta tu saldo</li>
                <li>Realiza pagos en línea</li>
                <li>Administra tus servicios</li>
              </ul>
              <div class="">
                1. Recibe tu contraseña temporal por correo <br>
                2. Cámbiala después desde tu perfil
              </div>
            </div>
          </div>

          <!-- Botón -->
          <div class="submit-wrapper">
            <button type="submit" class="submit-btn" [disabled]="loading">
              <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
              {{ loading ? 'CARGANDO...' : 'REGISTRARSE' }}
            </button>
          </div>

          <div class="d-flex justify-content-center mt-3">
            <a href="javascript:void(0)" (click)="goToUrl('/iniciar-sesion')" class="link-subtle">
              ¿Ya tienes cuenta?
            </a>
          </div>

        </form>

        <ngx-sonner-toaster richColors position="top-center"></ngx-sonner-toaster>
      </div>

    </div>
  </main>

  <!-- Panel derecho con la imagen (visible solo en pantallas grandes) -->
  <aside class="login-sidebar position-relative">
    <div class="position-absolute top-0 start-0 w-100 p-4 p-md-5" style="z-index: 50;">
      <!-- Logo -->
      <img src="assets/img/emenetLogo.webp" alt="Emenet Logo" class="img-fluid" style="max-height: 90px;">
    </div>
    <img src="assets/img/crear/emenet.webp" alt="Emenet Comunicaciones" class="sidebar-image img-fluid w-100 h-100"
      loading="lazy">
  </aside>
</div>