<div class="notifications-section">

  <div class="notifications-header">
    <div class="accent-bar"></div>
    <h2>Notificaciones</h2>
  </div>

  <!-- VACÍO -->
  <div *ngIf="notifications.length === 0" class="empty-state">
    <i class="fa-regular fa-bell" style="color: rgb(0, 51, 143);"></i>
    <h4>No hay notificaciones</h4>
    <p>No tienes notificaciones nuevas por el momento.</p>
  </div>

  <!-- LISTA -->
  <div class="notifications-list">

    <div
      *ngFor="let n of notifications"
      class="notification-card"
      [ngClass]="{
        'unread': n.unread,
        'warning': n.title === 'Adeudo Pendiente'
      }">

      <div class="notification-icon">
      <i class="fa-solid fa-bell" style="color: rgb(0, 51, 143);"></i>
        <span *ngIf="n.title === 'Recordatorio de Pago'"><i class="fa-regular fa-credit-card" style="color: rgb(0, 51, 143);"></i></span>

        <span *ngIf="n.title === 'Adeudo Pendiente'"><i class="fa-solid fa-triangle-exclamation" style="color: rgb(0, 51, 143);"></i></span>

      </div>

      <div class="notification-content">
        <div class="notification-title">
          {{ n.title }}
        </div>

        <p class="notification-text">
          {{ n.text }}
        </p>
      </div>

      <div class="notification-time">
        {{ n.time }}
      </div>

      <div *ngIf="n.unread" class="notification-badge">
        Nuevo
      </div>

    </div>

  </div>

</div>