<main class="page">
  <div class="container">

    <!-- NAVEGACIÓN -->
    <nav class="page-nav">
      <button class="nav-btn" [ngClass]="{ active: activeSection === 'pagos' }" (click)="showSection('pagos')">
        <i class="fi fi-rr-info"></i>
        Estatus de pagos
      </button>
      <p></p>
      <button class="nav-btn" [ngClass]="{ active: activeSection === 'formulario' }"
        (click)="showSection('formulario')">
        <i class="fa-solid fa-question"></i>
        Formulario de pago
      </button>
    </nav>

    <div class="payment-container">
      <div id="pagos" class="section" [ngClass]="{ active: activeSection === 'pagos' }">

        <!-- header -->
        <div class="payment-header" [attr.open]="pagosAbierto">
          <div class="header-icon"><i class="fa-solid fa-receipt"></i></div>
          <div class="header-content">
            <h2>Historial de pagos</h2>
            <p>Consulta el estado y detalle de tus pagos técnicas.</p>
          </div>
        </div>

        <!--filtros-->
        <div class="filter-container">
          <button *ngFor="let filtro of filtros" class="filter-btn" [class.active]="filtroEstado === filtro.value"
            (click)="cambiarFiltro(filtro.value)">
            {{ filtro.label }} ({{ contarEstado(filtro.value) }})
          </button>
        </div>

        <section class="empty-state" *ngIf="pagosFiltrados.length === 0">
          <i class="fa-solid fa-money-bill"></i>
          <h4>Sin resultados</h4>
          <p>{{ mensajeFiltro }}</p>
        </section>

        <section class="pagos-list" *ngIf="pagosFiltrados.length > 0">
          <article class="pagos-card" *ngFor="let pago of pagosPaginados; trackBy: trackByPago">

            <div class="pagos-left">
              <div class="pagos-icon" [ngClass]="getEstadoConfig(pago.estado).clase">
                <i class="fa-solid" [ngClass]="getEstadoConfig(pago.estado).icono"></i>
              </div>

              <div class="pagos-info">
                <h4>{{ pago.mensualidad }}</h4>

                <div class="pagos-meta">
                  <span>
                    <i class="fa-solid fa-calendar"></i>
                    Enviado: {{ pago.created_at }}
                  </span>
                </div>

                <div class="detalle-group">
                  <label>Monto</label>
                  <p>${{ pago.cantidad }} - {{ pago.clave === 'TRH' ? 'Transferencia' : 'Depósito' }}</p>
                </div>

                <p>Referencia: {{ pago.numOperacion || 'S/R' }}</p>

                <p *ngIf="pago.observacion">Observación: {{ pago.observacion }}</p>
              </div>
            </div>

            <div class="pagos-right">
              <span class="status-badge" [ngClass]="getEstadoConfig(pago.estado).clase">
                <span class="dot"></span>
                {{ getEstadoConfig(pago.estado).texto }}
              </span>
            </div>

          </article>
        </section>

        <!-- paginacion -->
        <nav class="pagination-container" *ngIf="totalPaginas > 1">
          <button class="btn-page" (click)="cambiarPagina(paginaActual - 1)" [disabled]="paginaActual === 1">
            <i class="fa-solid fa-chevron-left"></i>
          </button>

          <button *ngFor="let pagina of paginas" class="btn-page" [class.active]="pagina === paginaActual"
            (click)="cambiarPagina(pagina)">
            {{ pagina }}
          </button>

          <button class="btn-page" (click)="cambiarPagina(paginaActual + 1)" [disabled]="paginaActual === totalPaginas">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </nav>
      </div>

      <!-- HEADER -->
      <div id="formulario" class="section" [ngClass]="{ active: activeSection === 'formulario' }">

        <div class="payment-header" [attr.open]="formularioAbierto">
          <div class="header-icon"><i class="fa-solid fa-receipt"></i></div>
          <div class="header-content">
            <h2>¡Registre su pago!</h2>
            <p>Por favor llene los siguientes campos para continuar</p>
          </div>
        </div>

        <!-- FORMULARIO -->
        <form [formGroup]="pagosForm" (ngSubmit)="enviarPago()">

          <!-- FORMA DE PAGO -->
          <div class="payment-options">
            <label class="payment-card">
              <input type="radio" value="TRH" formControlName="clave" required>
              <div class="card-content">
                <i class="fa-solid fa-building-columns"></i>
                <div>
                  <h6>Transferencia</h6>
                </div>
              </div>
            </label>

            <label class="payment-card">
              <input type="radio" value="DBH" formControlName="clave">
              <div class="card-content">
                <i class="fa-solid fa-money-bill-transfer"></i>
                <div>
                  <h6>Depósito</h6>
                </div>
              </div>
            </label>
          </div>



          <div class="form-cards">

            <div class="form-card">
              <div class="card-title">
                <div class="card-icon blue"><i class="fa-solid fa-user"></i></div>
                <h5>Información del cliente</h5>
              </div>

              <div class="card-body grid-2">

                <!-- TELEFONO -->
                <div class="field">
                  <label>Teléfono</label>
                  <input type="text" formControlName="telefono" class="form-control custom-input"
                    placeholder="Número de teléfono">
                  <div *ngIf="f['telefono'].invalid && (f['telefono'].dirty || f['telefono'].touched)"
                    class="mt-1 text-danger small">
                    <span *ngIf="f['telefono'].errors?.['required']">Requerido.</span>
                    <span *ngIf="f['telefono'].errors?.['maxlength']">Máx 10 caracteres.</span>
                    <span *ngIf="f['telefono'].errors?.['pattern']"> Formato inválido.</span>
                  </div>
                </div>

              </div>
            </div>

            <!-- INFORMACION DE PAGO -->
            <div class="form-card">
              <div class="card-title">
                <div class="card-icon green"><i class="fa-solid fa-credit-card"></i></div>
                <h5>Información del pago</h5>
              </div>
              <div class="card-body grid-2">

                <!-- FECHA DE PAGO -->
                <div class="field">
                  <label>Fecha de pago</label>
                  <mat-form-field appearance="outline" class="custom-date-field custom-input-date"
                    (click)="picker.open()">
                    <input matInput [matDatepicker]="picker" formControlName="fechaPago" (focus)="picker.open()"
                      placeholder="Selecciona una fecha" [max]="maxDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>

                <!-- NUMERO DE OPERACION -->
                <div class="field">
                  <label>
                    {{pagosForm.get('clave')?.value === 'TRH'? 'Clave de rastreo'
                    : pagosForm.get('clave')?.value === 'DBH'? 'Número de operacion'
                    : 'Número de operación'}}
                  </label>

                  <input type="text" formControlName="numOperacion" class="form-control custom-input" [placeholder]="
                  pagosForm.get('clave')?.value === 'TRH'? 'Ingresa la clave de rastreo'
                  : pagosForm.get('clave')?.value === 'DBH'? 'Ingresa el número de operacion, autorizacion o folio de venta'
                  : 'Número de operación'">

                  <div *ngIf="f['numOperacion'].invalid && (f['numOperacion'].dirty || f['numOperacion'].touched)"
                    class="mt-1 text-danger small">
                    <span *ngIf="f['numOperacion'].errors?.['required']">Requerido.</span>
                    <span *ngIf="f['numOperacion'].errors?.['maxlength']">Máx 35 caracteres.</span>
                  </div>
                </div>

                <!-- MONTO -->
                <div class="field">
                  <label>Monto a pagar</label>
                  <input type="text" formControlName="monto" class="form-control custom-input"
                    placeholder="Monto a pagar">
                  <div *ngIf="f['monto'].invalid && (f['monto'].dirty || f['monto'].touched)"
                    class="mt-1 text-danger small">
                    <span *ngIf="f['monto'].errors?.['required']">Requerido.</span>
                    <span *ngIf="f['monto'].errors?.['maxlength']">Máx 5 caracteres.</span>
                    <span *ngIf="f['monto'].errors?.['pattern']">Formato inválido.</span>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <!-- SUBIR COMPROBANTE -->
          <div class="form-card upload-card">
            <div class="card-title">
              <div class="card-icon purple"><i class="fa-solid fa-file-import"></i></div>
              <h5>Comprobante de pago</h5>
            </div>
            <div class="card-body upload-body">
              <div class="upload-center">
                <div class="upload-big-icon"><i class="fa-solid fa-cloud-arrow-up"></i></div>
                <h6>Sube tu comprobante aquí</h6>
                <input type="file" accept=".jpg,.jpeg,.png,.pdf" (change)="onFileChange($event)"
                  formControlName="comprobante" class="form-control upload-input">
                <small>Formatos: JPEG, JPG, PNG, PDF · Máx. 2MB</small>
                <div *ngIf="f['comprobante'].invalid && (f['comprobante'].dirty || f['comprobante'].touched)"
                  class="mt-1 text-danger small">
                  <span *ngIf="f['comprobante'].errors?.['required']">Requerido.</span>
                </div>
              </div>
            </div>
          </div>

          <!-- BOTON -->
          <div class="actions-container">
            <button type="submit" class="btn-primary" [disabled]="loading">
              <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
              {{ loading ? 'ENVIANDO...' : 'ENVIAR DATOS' }}
            </button>
          </div>

        </form>

      </div>

    </div>
  </div>
  <ngx-sonner-toaster richColors position="top-center"></ngx-sonner-toaster>

</main>