<div class="d-flex flex-column">

  <div class="app-header" *ngIf="showheader" [class.open]="headerOpen">
  <app-header (toggleSidebar)="toggleSidebar()" ></app-header>
  </div>

  <div class="app-wrapper">

    <!--RUTAS PERMITIDAS -->
    <aside class="sidebar-container d-md-none" *ngIf="showSidebar" [class.open]="sidebarOpen">
      <app-nav (linkClick)="closeSidebar()"></app-nav>
    </aside>

    <!-- Backdrop SOLO si hay sidebar -->
    <div class="backdrop" *ngIf="showSidebar && sidebarOpen" (click)="closeSidebar()"></div>

    <!-- Contenido -->
    <main>
      <router-outlet></router-outlet>

    </main>

  </div>
  <app-footer *ngIf="showFooter"></app-footer>

</div>