<div class="user-menu-container">
  <button class="user-dropdown-trigger" (click)="this.isDropdownOpen = !this.isDropdownOpen" [attr.aria-expanded]="isDropdownOpen"
    aria-haspopup="true">
    <div class="avatar-container">
      <img *ngIf="avatarUrl" [src]="avatarUrl" [alt]="cliente.nombre" class="avatar-img">
      <div *ngIf="!avatarUrl" class="avatar-placeholder">
        {{ this.http.obtenerIniciales(cliente.nombre) }}
      </div>
    </div>
    <div class="user-info">
      <div class="user-name">{{ cliente.nombre || 'Cliente' }}</div>
      <div class="user-role">{{ cliente.cliente }}</div>
      <div class="user-role">{{ user?.email }}</div>
    </div>
    <i class="bi bi-chevron-down dropdown-arrow" [class.rotate-icon]="isDropdownOpen"></i>
  </button>

  <div class="user-dropdown" [class.show]="isDropdownOpen" (click)="$event.stopPropagation()">
    <div class="dropdown-header">
      <div class="avatar-large">
        <img *ngIf="avatarUrl" [src]="avatarUrl" [alt]="cliente.nombre" class="avatar-img-large">
        <div *ngIf="!avatarUrl" class="avatar-placeholder-large">
          {{ this.http.obtenerIniciales(cliente.nombre) }}
        </div>
      </div>
      <div class="header-info">
        <div class="header-name">
          <div class="first-name">{{ cliente.nombre }}</div>
        </div>
        <div class="header-role">{{ cliente.cliente }}
        </div>
      </div>
    </div>

    <div class="dropdown-section" *ngIf="!isServiceRoute">
      <button class="dropdown-item" (click)="navigateTo('/edit-perfil')">
        <i class="fa-solid fa-lock"></i>
        <span>Cambiar contraseña</span>
      </button>

      <button class="dropdown-item" (click)="navigateTo('/formas-de-pago')">
        <i class="fa-solid fa-credit-card"></i>
        <span>Formas de pago</span>
      </button>
      <button class="dropdown-item" (click)="navigateTo('/formulario-pagos')">
        <i class="fa-solid fa-list-check"></i>
        <span>Registrar pago</span>
      </button>

      <button class="dropdown-item" (click)="navigateTo('/faq')">
        <i class="fa-solid fa-headset"></i>
        <span>Soporte</span>
      </button>

      <button class="dropdown-item" (click)="navigateTo('/visitas')">
        <i class="fa-solid fa-wrench"></i>
        <span>Visitas</span>
      </button>

      <div class="section-divider"></div>
      <button routerLink="/servicios" (click)="navigateTo('/servicios')" class="dropdown-item" title="Servicios">
        <i class="fa-solid fa-wifi"></i>
        <span>Servicios</span>
      </button>

    </div>


    <div class="dropdown-footer">
      <button class="dropdown-item logout-item" (click)="handleLogout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span>Cerrar sesión</span>
      </button>
    </div>
  </div>
</div>
